<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){yellow} [%thread] %clr(%-5level) %clr(%logger{36}){magenta} - %clr(%msg%n){blue}</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="consoleAppender" />
    </root>
</configuration>